/* style center */

.pdpRonde {
	padding-top: 4px;
	img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
}
.nomPdp {
	margin-left: 6px;
	.spanN {
		font-size: 14px;
	};
	.spanD {
		font-size: 12px;
		color: grey;
		text-style: italic;
	}
}
.actMsg {
	p {
		font-size: 13px;
	}
}

.actPhoto{
	.imgPub {
		width: 150px;
		margin-right: 10px;
		height: 225px;
		overflow: hidden;
		img {
			width: inherit;
			border-radius: 2px;
			box-shadow: 0px 0px 1px grey;
		}
	}
}
.actCoeur {
	margin-top: 15px;
	
}
.spanD {
		font-size: 12px;
		color: grey;
		text-style: italic;
	}
.right{
	float:right;
}
.w100{
	width: 100%;
}
.flex{
	.flex1 {
		width:150px;
		min-width: 150px;
	}
	.flexR {
		width: 100%;
		padding-top:15px;
	}
}
.f14 {
	font-size: 14px;
}
.actCommentF {
	margin-left: 15px;
	strong {
		font-size: 13px;
	}
}
.contentCom {
	padding: 10px;
	background-color: #f3f3f387;
	border-radius: 10px;
}
.nom50 {
	min-width: 200px;
}
#nav-font-acc{
	background-color: #e9e9e9a8 !important;
	height: 70px;
	padding-top: 7px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	margin-left: 10px;
	box-shadow: none;
}
.ml-10 {
	margin-left: 7px;
}
#paddAuto {
	padding: 20px 32px 30px 9px;
}
#filled-textareas {
	padding-right: 42px;
}
#sendIcon {
	font-size: 30px;
	margin-left: -40px;
	margin-top: 11px;
}
// sytle don

.msgDon {
	margin-top: 10px;
	p {
		font-size: 13px;
	}
}
.btnDon {
	display: flex;
	background-color: #5eaec6;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0px 0px 5px #232323;
	img {
		width: 30px;
		margin-left: 5px;
	}
	span {
		font-size: 15px;
		color: white;
		font-weight: bold;
	}
	:hover {
		color: white;
	}

}
// Botton menu light
#primBtn {
	background-color: #fff;
	color: #595757;
	text-transform: revert;
	border: none;
	box-shadow: 0px 0px 1px #c2c2c21f;
}
#btnDiariko {
	background-color: #00a99d;
	color: white;
	font-size: 13px;
	border: 0px;
	text-transform: revert;
}
.borderR {
	border-right: 1px solid #cdcfd1;
	position: fixed;
	padding-right: 20px;
}
#btnSimple {
		background-color: #00a99d;
		color: white;
		text-transform: revert;
		padding-left: 5px;
	}
#menuSimple {
	#btnSimple {
		background-color: #00a99d;
		color: white;
		text-transform: revert;
		padding-left: 0px;
		padding: 10px;
		margin-bottom: 10px;
		width: 130px;
	}
}
.checkBox span {
	font-size: 13px;
}
.none {
	display: none;
}
.MuiDialog-paperWidthSm {
	max-width: 700px;
	min-width: 700px;
}
#fs-13, #draggable-dialog-title, #formFlex input, .ul-conseil {
	font-size: 13px;
	span {
		font-size: 13px;
	}
}
.fs-12 {
	font-size: 12px;
}
#age {
	width: 105px;
}

// style

.labelInc {
	width: 200px;
	padding-top: 10px;
	min-width: 150px;
	max-width: 150px;
}
.block {
	display: block;
}
.align {
	padding: 5px;
	font-size: 13px;
	margin:0px;
}
.lab150 {
	min-width: 100px;
}
.information, .symptom {
	padding-left: 50px;
}
#symptome {
	h6 {
		background-color: #d7d7d7;
		padding: 7px;
		border-radius: 15px;
		margin-right: 5px;
		font-size: 13px;
		text-transform: revert;
		width: max-content;
	}
}
.wrap {
	flex-wrap: wrap;
}
.imgProfil {
	height: 130px;
	width: 130px;
	border-radius: 3px;
	background-size: cover;
	margin: auto;
}
.nomProfil {
	p {
		text-align: center;
		font-size: 17px;
		color: #00a99d;
		font-weight: bold;
		text-shadow: 0px 0px 3px gainsboro;
	}
}
.bar {
	height: 30px;
}
.couverture {
	width: 100%;
	height: 114px;
}
.pt-15 {
	padding-top: 15px;
}
.pl-0 {
	padding-left: 0px;
}
#chart {
	max-height: 300px;
}
.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
    background-color: rgb(0, 169, 157);
}
.opacity {
	height: 450px;
	position: absolute;
	background-color: #00000054;
	width: 100%;
}
.cursor, .nav-link {
	cursor: pointer;
}
.lire {
	font-style: italic;
	:hover {
		font-size: 15px;
	}
}
#w-200 {
	min-width:200px;
}
.errMsg {
	color:red;
	text-style: italic;
}
.alertRouge {
	font-size: 12px;
	color: #d40707;
	font-style: italic;
}
.mt-100 {
	margin-top: 100px;
}
.logo {
	width: 100%;
	height: 49px;
	background-repeat: no-repeat;
}