#slider, .slider {
	height: 450px;
	background-size: cover;
}

#content{
	padding: 100px;
}
.fix-cont {
	margin-bottom: 120px;
	margin-top: 50px;
}
.titre{
	color: #007c8a;
	font-size: 30px;
	text-align: center;
	font-family: initial;
}
.titreAct {
	color: #2f2f2f;
	text-shadow: 0px 0px 1px #3d4b4da1;
	font-size: 30px;
	text-align: center;
	font-family: initial;
}
.head{
	margin-bottom: 60px;
}
.cont_p {
	font-size: 15px;
	font-weight: 100;
	text-align:center;
}

#row-fuild {
	margin: 30px;
	justify-content: center;
}
.act_icon {
	text-align:center;
	margin-bottom: 30px;
}
.center {
	text-align:center;
}
.cont-act {
	background-color: #08968d;
	padding: 80px 30px 50px 30px;
}

#act-col{
	padding: 50px 30px 50px 30px;
	margin: 0px auto;
	
}
.text-muteds {
	color: #d4fcff !important;
}

#act-col:hover{
	cursor:pointer;
}
.inc-bg{
	width: 100%;
	height: 530px;
}

#ins-act {
	padding: 120px;
}

.ins-titre {
	font-size: 30px;
	margin-bottom: 50px;
}

#homeimage{
	width: inherit;
}

#ins-img {
	padding:0px 70px;
	max-width: 900px;
	width: 700px;
}
#nav-font {
	background-color: #000000ab !important;
	border-bottom-left-radius: 64px;
	border-bottom-right-radius: 64px;
}

.form-connection {
	display: flex !important;
	flex-basis: auto;
	float: right;
	width: 100%;
}
#form-input {
	margin-left: auto !important;
	display: inline-flex;
}

#form-recherche {
	padding-top:15px;
	margin-right:7px;
}
#form-recherche > input, #form-botton > button {
	height: 36px;
	width: 170px;
	font-size: 12px;
}

#form-botton {
	padding-top: 7px;
	margin-bottom: 5px;
}
#form-btn-conx{
	padding-top: 7px;
}
#slider-content {
	position: absolute;
	margin-top: 270px;
}
.sld-info > ul {
	list-style: none;
	color: white;
	font-size: 20px;
	font-family: initial;
	text-shadow: 0px 0px 2px aliceblue;
	width: 800px;
}
.btn-auth {
	margin-left: 40px;
	margin-top: 20px;
}
.lg-diariko {
	color: #00a99d;
	text-shadow: none;
	font-style: normal;
	font-size: 50px;
}

/* style inscription */
#container-section{
	margin: 130px auto;
	padding-right: 130px;
	padding-left: 130px;
}

#container-sect {
	padding-right: 130px;
	padding-left: 130px;
}

#container-acc{
	margin: 90px auto;
}

.flex {
	display: inline-flex;
}
#formGroupInc {
	max-width: 800px;
	box-shadow: 0px 0px 1px black;
	padding: 30px;
	margin: 20px;
}
.formBlock > h4 {
	margin-top: 30px;
}
.colorDiariko {
	color: #00a99d;
}
#portrait {
	width: 100%;
	position: relative;
}
.hideOver {
	overflow: hidden;
}

.boiteImage {
	padding: 20px;
}

/* Style confirmation */
.msg {
	margin: 50px 0px 100px auto;
}
#largeBtn {
	height: 100px;
}
.grosBtn {
	justify-content: center;
	display: flex;
}

/* Style connection */
#rowConnection {
	background-color: #00a99d;
	padding: 100px;
	margin-left: 50px;
	margin-right: 50px;
}
#imgLogoKely {
	width: 120px;
}
#imgLogoKely img {
	width: 100%;
}
.block1 {
	display: flex;
	justify-content: center;
}
.block2 {
	width: 300px;
}
.labelForm {
	color: white;
	font-size: 13px;
	font-weight: bold;
}
.iariko {
	vertical-align: bottom;
	margin: auto auto 0px 0px;
	font-size: 15px;
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 3px #747474;
}
.slogan{
	margin-top: 50px;
}
.slogan p, .ttt {
	font-size: 15px;
	font-style: italic;
	font-weight: lighter;
}
#inputMin input {
	font-size: 13px;
}

/* accueil */

.boxShadow {
	margin: auto;
	box-shadow: 0px 0px 0.4px #80808033;
	padding: 10px;
	padding-top: 10px;
	background-color: #ffffff;
	padding-top: 15px;
}


.mb-10 {
	margin-bottom: 20px;
}

.menuCoin {
	padding-top: 20px;
}
#imgRonde {
	width: 90px;
	border-radius: 50%;
	height: 90px;
}
.cProfil {
	width: 150px;
}
.cpAvatar {
	display: flex;
	justify-content: center;
}
.cConfig p {
	font-size: 12px;
	color: #00a99d;
	margin-top: 60px;
	margin-bottom: 0px;
}
/* style menu */
ul {
	list-style: none;
}

.flex-center {
	display: flex;
	justify-content: center;
}
#menuCentral {
	padding-left: 0px;
}
#menuCentral li {
	font-size: 13px;
	border-radius: 5px;
	margin-bottom: 10px;
}
